# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
debug.log*
error.log*
log.txt

# Runtime and Build Files
dist/
build/
coverage/
*.tsbuildinfo

# Editor and OS Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Next.js / TypeScript specific
.next/
out/
*.d.ts

# Optional: Ignore nodemon restart files
nodemon-debug.log
docker/
